* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #f0f0f0;
    font-size: 14px;
}
.rating__cont {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px 30px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    box-shadow: 2px 2px 2px silver;
}
.rating__main-img {
    width: 40%;
    margin: 0 auto;

}
.rating__main-img img {
    width: 100%;
    border-radius: 8px;
}
.rating__article {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    color: rgb(80, 80, 80);
}
.rating__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h1 {
    text-align: center;
}
.rating__img {
    width: 20%;
}
.rating__img img {
    width: 100%;
}
.rating__cont-btn {
display: flex;
gap: 3px;
}
button {
    font-size: 12px;
    padding: 2px 3px;
    min-width: 70px;
    border: 1px solid silver;
    border-radius: 3px;
    background-color: #00a1e0;
    color: white;
    transition: all 0.2s ease-in-out;
}
button:hover {
    transform: translate(1px);
    background-color: #1dbfff;
}